[submodule "libs/gitignore"]
	path = libs/gitignore
	url = git://github.com/github/gitignore.git
[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/rbenv"]
	path = libs/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "libs/ruby-build"]
	path = libs/ruby-build
	url = https://github.com/sstephenson/ruby-build
[submodule "link/.zprezto"]
	path = link/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "libs/vim-pathogen"]
	path = libs/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "link/.vim/bundle/vim-fugitive"]
	path = link/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "libs/wombat256"]
	path = libs/wombat256
	url = git://github.com/vim-scripts/wombat256.vim.git
