[submodule "libs/gitignore"]
	path = libs/gitignore
	url = git://github.com/github/gitignore.git
[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/rbenv"]
	path = libs/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "libs/ruby-build"]
	path = libs/ruby-build
	url = https://github.com/sstephenson/ruby-build
[submodule "libs/git-submodule-tools"]
	path = libs/git-submodule-tools
	url = git://github.com/kollerma/git-submodule-tools.git
[submodule "libs/antigen"]
	path = libs/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "libs/vundle"]
	path = libs/vundle
	url = git://github.com/gmarik/vundle.git
